<div class="container my-5">
  <h1 class="text-center mb-4">{{'reset-email.password-reset' | translate}}</h1>

  <div class="card shadow p-4 col-12 col-md-6 mx-auto">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
     

      <div class="mb-3">
        <label for="password" class="form-label">
          <b>{{ 'reset-email.new-password' | translate }}:</b>
        </label>
        <input type="password" id="password" class="form-control" formControlName="password"
          (input)="checkStrength()" />

        <!-- Fehlermeldung -->
        @if(dataForm.get('password')?.touched && dataForm.get('password')?.invalid) {
        <div class="text-danger">
          {{ 'registration.passwordRequired' | translate }}
        </div>
        }

        <!-- Progressbar für Passwortstärke -->
        @if(dataForm.get('password')?.value) {
        <div class="progress mt-2">
          <div class="progress-bar" role="progressbar" [style.width.%]="passwordStrength" [ngClass]="{
             'bg-danger': passwordStrength <= 40,
             'bg-warning': passwordStrength > 40 && passwordStrength < 80,
             'bg-success': passwordStrength >= 80
           }">
          </div>
        </div>
        <small class="form-text">{{ passwordStrengthMessage }}</small>
        }
      </div>

      <div class="mb-3">
        <label for="password_repeat" class="form-label">
          <b>{{ 'reset-email.confirm-password' | translate }}:</b>
        </label>
        <input type="password" id="password_repeat" class="form-control" formControlName="password_repeat"
          (input)="isValid()" />

        <!-- Fehlermeldung -->
        @if(dataForm.get('password_repeat')?.touched && dataForm.get('password_repeat')?.invalid || !isPasswordMatch) {
        <div class="text-danger">
          {{ 'registration.passwordRequired' | translate }}
        </div>
        }
      </div>
      
      <!-- Submit Button -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary" [disabled]="dataForm.invalid">{{'registration.send' |
          translate}}</button>
          <button type="button" class="btn btn-secondary" (click)="cancel()">
          {{ 'registration.cancel' | translate }}
        </button>
      </div>
    </form>
  </div>

