.image-wrapper {
  text-align: center;     
}

.responsive-img {
  max-width: 100%;
  width: 70%;            
  height: auto;
  margin: 0 auto;         
  display: inline-block;   
}

@media (max-width: 600px) {
  .responsive-img {
    width: 60%;  
}
}
